{% extends 'base.html.twig' %}
{% block title %}Equinoxer - {{ relic.name }}{% endblock %}
{% block body %}

  <h1>{{ relic.name }}</h1>

  <section>
    <h2>Drops (Rewards)</h2>
    {% set chances = [] %}
    {% for reward in relic.rewards %}
      {% if reward.chance not in chances %}
        {% set chances = chances | merge([ reward.chance ]) %}
      {% endif %}
    {% endfor %}
    {% set chances = chances | sort %}
    
    <ul>
      {% for chance in chances %}
        {% set items = [] %}
        {% for reward in relic.rewards %}
          {% if reward.chance == chance %}
            {% set items = items | merge([ reward ]) %}
          {% endif %}
        {% endfor %}
        <li style="padding: 1.5rem; text-align: center;">
            <strong style="font-size: 1.2rem; color: var(--accent-cyan); display: block; margin-bottom: 1rem;">
                {{ chance }} % <span style="font-size: 0.9em; opacity: 0.7;">({{ items|length }})</span>
            </strong>
            <div style="display: flex; flex-direction: column; gap: 0.5rem;">
              {% for it in items %}
                <div style="padding: 0.25rem 0;">
                    {{ it.item }}
                </div>
              {% endfor %}
            </div>
        </li>
      {% else %}
        <div style="text-align: center; margin-top: 1rem; font-style: italic;">
          Not a single drop :( If we are wrong try loading data
        </div>
      {% endfor %}
    </ul>
  </section>

  <section>
    <h2>Where to find (Locations)</h2>
    {% if rewards is empty %}
      <div style="text-align: center; margin-top: 1rem; font-style: italic;">
        Not a single mission :( If we are wrong try loading data
      </div>
    {% else %}
      <ul>
        {% for entry in rewards %}
          <li>
            <a href="#">
              <strong>{{ entry.planet }} / {{ entry.mission }}</strong>
              <span class="mission-info">
                <br>
                {{ entry.gameMode }}<br>
                Chance no ciclo: {{ entry.cycleChance }}<br>
                Eficiência: {{ entry.efficiency }}<br>
                Parar em: {{ entry.rotationPattern }}
              </span>
            </a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </section>

  <div style="text-align: center; margin-top: 2rem; margin-bottom: 2rem;">
      <a href="{{ path('home') }}" style="color: #fffdd0; text-decoration: none; font-size: 1.1rem; display: inline-block;">Back to Home</a>
  </div>

  {% endblock %}
