{# templates/relic/show.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ relic.name }}{% endblock %}

{% block body %}
  <h1>
    {{ relic.name }}
    <span style="color: {{ relic.vaulted ? 'red' : 'green' }}; margin-left: 0.5em;">
      {{ relic.vaulted ? 'X' : '✓' }}
    </span>
  </h1>
  {% set chances = [] %}
  {% for reward in relic.rewards %}
    {% if reward.chance not in chances %}
      {% set chances = chances | merge([ reward.chance ]) %}
    {% endif %}
  {% endfor %}
  {# Agora ordena esse array de números #}
  {% set chances = chances | sort %}

  <ul>
    {% for chance in chances %}
      {% set items = [] %}
      {% for reward in relic.rewards %}
        {% if reward.chance == chance %}
          {% set items = items | merge([ reward ]) %}
        {% endif %}
      {% endfor %}

      <li>
        <strong>{{ chance }} %</strong> ({{ items|length }})
        <ul>
          {% for it in items %}
            <li>{{ it.item }}</li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
