{% extends 'base.html.twig' %}

{% block title %}Equinoxer - {{ prime.name }}{% endblock %}

{% block body %}


  <h1>{{ prime.name }}</h1>

  {% for part in parts %}
    <section>
      <h2>{{ part.name }}</h2>

        {% if part.relics is empty %}
          <div style="text-align: center; margin-top: 1rem; font-style: italic;">
            Not a single relic :( If we are wrong try loading data
          </div>
        {% else %}
          <ul>
            {% for relic in part.relics %}
              {% if relic.bestMission is not null %}
                <li>
                  <a href="/relics/{{ relic.slug }}">
                      <strong>{{ relic.name }}</strong>
                      <span class="mission-info">
                          <br>
                          {{ relic.bestMission.planet }} / {{ relic.bestMission.mission }} ({{ relic.bestMission.gameMode }})<br>
                          Chance no ciclo: {{ relic.bestMission.cycleChance }}<br>
                          Eficiência: {{ relic.bestMission.efficiency }}<br>
                          Parar em: {{ relic.bestMission.rotationPattern }}
                      </span>
                  </a>
                </li>
              {% else %}
                <li>
                  <a href="/relics/{{ relic.slug }}">
                      <strong>{{ relic.name }}</strong>
                      <span class="mission-info"><br>Not a single mission :( If we are wrong try loading data</span>
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        {% endif %}
    </section>
  {% endfor %}

  <div style="text-align: center; margin-top: 2rem; margin-bottom: 2rem;">
      <a href="{{ path('home') }}" style="color: #fffdd0; text-decoration: none; font-size: 1.1rem; display: inline-block;">Back to Home</a>
  </div>
{% endblock %}
